nav.navbar.navbar-default.navbar-static-top.navbar-inverse
  div.container
    div.navbar-header
      a.navbar-brand(href='#') OneShot

    div#navbar.navbar-collapse.collapse
      
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/login') Login
        li
          a(href='/signup') Register
